# =========================
# Dataset Files
# =========================
data/raw/*.csv
data/processed/*.csv

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Jupyter Notebook Cache
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
proj/
.venv/
venv/
env/

# =========================
# Trained Models
# =========================
models/*.pkl

# =========================
# Generated Outputs
# =========================
outputs/*

# Keep folder structure
!outputs/plots/.gitkeep
!outputs/reports/.gitkeep

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/

# =========================
# Logs
# =========================
*.log